@import "../../../styles/common/mixin.scss";
.category-list {
  .btn {
    @include shadow-normal();
  }

  .btn-action {
    font-size: 0.8em;
  }

  @include createTableColumn(50, 50);
  @include setTableLayout(#eee);
  .col-head {
    color: #333;
    font-weight: 500;
  }

  .url {
    word-break: break-all;
  }
}
