@import "../styles/common/mixin.scss";
@import "../styles/common/variables.scss";

.account-link {
  i {
    font-size: 1.4em;
    color: $color-white;
  }
}

.link-count {
  border: solid 1px #ccc;
  padding: 0.1em 0.3em;
}
