@import "../../styles/common/mixin.scss";
@import "../../styles/common/variables.scss";
.auth-form {
  color: $color-default;
  .btn-action {
    @include shadow-normal();
    font-weight: 700;
    color: $color-default;
  }
}
