@import "./variables.scss";

@mixin shadow-normal {
  box-shadow: 0 2px 4px #ccc, 0 0px 1px #ccc;
}

@mixin createTableColumn($colNum...) {
  .col-table {
    display: flex;
    flex-direction: column;
    width: $width-100;

    .col-head,
    .col-body {
      display: flex;
      flex-direction: column;
      width: $width-100;
      .col-row {
        display: flex;
        width: $width-100;
        @for $i from 1 through length($colNum) {
          $val: nth($colNum, $i);
          .col-item:nth-child(#{$i}) {
            width: percentage($val) / 100;
            word-wrap: break-word;
          }
        }
      }
    }
  }
}

@mixin setTableLayout($borderColor) {
  .col-head {
    .col-row {
      padding: 0.2em 0;
    }
  }
  .col-row {
    border-bottom: solid 1px $borderColor;
    &:first-child {
      border-top: none;
    }
  }
}
